.accept {
    background-color: #f4faff;
    
    &__in {
        padding-top: 31px;
        padding-bottom: 33px;
        
        @include r($sm) {
            padding-top: 20px;
            
            padding-bottom: 40px;
        }
    }

    &__title {
        margin-bottom: 12px;        
        
        @include r($sm) {
            margin-bottom: 10px;
        }

    }

    &__text {
        margin-bottom: 46px;
        color: #57575a;
        font-size: 22px;
        font-weight: 400;
        line-height: 1.27;
        
        @include r($sm) {
            font-size: 18px;
        }
        
    }

    &__list {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        
    }

    &__item {
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: 140px;

        text-align: center;
        
        @include r($md) {
            margin-bottom: 30px;
            max-width: 33%;
            flex-basis: auto;
        }


        @include r($sm) {
            margin-bottom: 44px;
            max-width: 50%;
        }


    }

    &__image {
        margin-bottom: 30px;
        
        @include r($sm) {
            margin-bottom: 17px;
        }
        
    }

    &__item-text {
        color: #0c0b0b;
        font-size: 14px;
        font-weight: 300;
        line-height: 1.285;
        
        @include r($sm) {
            padding-left: 10px;
            padding-right: 10px;
        }
        

    }
}
