.what {
    
    &__in {
        padding-top: 93px;
        padding-bottom: 41px;

    }

    &__w {
        margin-left: 73px;
        margin-right: 103px;
        
    }

    &__title {
        margin-bottom: 16px;
        
    }

    &__text {
        padding-right: 80px;
        color: #57575a;
        font-size: 22px;
        font-weight: 400;
        line-height: 1.27;
        
    }

}
