mixin what(data)
    .what
        .what__in.in
            .what__w
                h2.what__title.title.title_h3 Для чего проводится оценка автомобиля при оформлении наследства?

                .what__text Оценка проводится для определения размера госпошлины, которую платит наследник при вступлении в наследство