.what {
    
    &__in {
        padding-top: 93px;
        padding-bottom: 41px;
        
        @include r($sm) {
            padding-bottom: 18px;

        }

    }

    &__w {
        margin-left: 73px;
        margin-right: 103px;
        
        @include r($md) {
            margin-left: 0;
            margin-right: 0;
        }

        
    }

    &__title {
        margin-bottom: 16px;
        
        @include r($sm) {
            margin-bottom: 8px;

        }
        
    }

    &__text {
        padding-right: 80px;
        color: #57575a;
        font-size: 22px;
        font-weight: 400;
        line-height: 1.27;
        
        @include r($sm) {
            padding-right: 0;
            font-size: 18px;
            line-height: 1.33;

        }
        
    }

}
