.footer {
    background-color: #57575a;
    overflow: hidden;
    color: #FFF;
    &__in {
        padding-top: 32px;
        padding-bottom: 30px;

        @include r($sm) {

            padding-top: 28px;
            padding-bottom: 15px;
            
        }


    } 





    &__copyright {
        margin-bottom: 14px;
        color: #ffffff;
        font-family: Roboto;
        font-size: 14px;
        font-weight: 700;
        line-height: 18px;
        
        @include r($sm) {
            margin-bottom: 18px;
            font-size: 12px;
            font-weight: normal;

        }

    }


    &__text {
        margin-bottom: 10px;
        color: #c3bfbf;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.285;
        
        @include r($sm) {
            font-size: 12px;
            line-height: 1.5;

        }
    }

    &__bottom {
        padding-top: 15px;
        padding-bottom: 10px;
        display: flex;
        
        @include r($sm) {
            padding-top: 10px;
            flex-wrap: wrap;

        }
        
    }

    &__phone,
    &__time {
        max-width: 160px;
        width: 100%;

    }


    &__time {
        
        @include r($sm) {
            max-width: 160px;
            order: 1;

        }

    }

    &__phone {
        
        @include r($sm) {
            max-width: 100px;
            order: 2;

        }
    }


    &__phone-title,
    &__time-title {
        margin-bottom: 1px;
        font-size: 14px;
        font-weight: 700;
        line-height: 1.285;
        
        @include r($sm) {
            
            font-size: 12px;

        }

    }

    &__phone-val,
    &__time-val {
        display: block;
        color: #FFF;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.285;
        text-decoration: none;
        
        @include r($sm) {

            font-size: 12px;

        }

    }

    &__phone-val {
        text-decoration: none;
        
        &:hover {
            text-decoration: underline;
        }
    }

    &__address {
        margin-left: auto;
        font-size: 14px;
        font-weight: 700;
        line-height: 1.285;
    
        @include r($sm) {
            margin-left: 0;
            margin-bottom: 14px;
            order: -1;
            font-size: 12px;

        }

    }
    

}

