.cta {
    background-color: #dff2ff;
    &__in {
        padding-top: 45px;
        padding-bottom: 45px;
        text-align: center;
        
        @include r($sm) {
            padding-top: 32px;
            padding-bottom: 32px;
        }

    }

    &__button {
        padding-top: 22px;
        padding-right: 95px;
        padding-left: 95px;
        padding-bottom: 16px;        
        text-decoration: none;
        text-align: center;
        
        @include r($sm) {
            padding-top: 22px;
            padding-left: 30px;
            padding-right: 30px;
            padding-bottom: 14px;
            font-size: 16px;
            white-space: nowrap;
        }

        span {
            @include r($sm) {
                display: none;

            }
        }

    }


    &__text {
        margin: auto;
        max-width: 430px;
        margin-top: 9px;
        font-size: 18px;
        line-height: 1.17;
        color: #259adb;
    }

}
