.faq {
    
    &__in {
        padding-top: 77px;
        padding-right: 116px;
        padding-bottom: 79px;
        padding-left: 92px;
        
        @include r($md) {
            padding-left: 20px;
            padding-right: 20px;
        }

        @include r($sm) {
            padding-top: 95px;
        }

    }

    &__title {
        margin-bottom: 21px;
        
        @include r($sm) {
            margin-bottom: 25px;
            font-size: 24px;
        }

    }

    &__text {

        h3 {
            margin-bottom: 6px;
            font-size: 22px;
            font-weight: 700;
            line-height: 1.272;
            
            @include r($sm) {
                margin-bottom: 30px;
                font-size: 18px;
            }

        }

        p {
            margin-bottom: 25px;
        }

        
        ul {
            margin-left: 52px;
            
            @include r($sm) {
                margin-left: 25px;

            }

            
            li {
                padding-left: 0;
                
                &:after {
                    display: none;
                    
                }

            }

            strong {
                font-weight: 700;
                font-style: italic;
                font-size: 18px;
            }

            
        }

        

    }

}
