.hero {
    color: #000;
    overflow: hidden;
    &__top {
        padding-top: 36px;

        @include r($sm) {
            padding-top: 49px;
            
        }


    }


    &__in {
        

    }


    &__image {
        text-align: center;
        
        @include r($sm) {
            margin-right: -76px;
            margin-left: -20px;
            height: 52px;

        }
                
        img {
            max-width: 100%;
            height: auto;
            
            @include r($sm) {
                width: 100%;
                height: 100%;

                object-fit: cover;
                // object-fit: contain;
                

            }

        }

    }


    &__body {
        padding-top: 19px;
        padding-bottom: 30px;
        background-color: #f9f9f9;
        
        @include r($sm) {
            padding-top: 12px;

        }

    }

    &__title {
        margin-bottom: 3px;
        
        @include r($sm) {
            margin-bottom: 9px;
            padding-right: 40px;

        }
    }


    &__text {
        margin-bottom: 41px;
        font-size: 22px;
        font-weight: 400;
        line-height: 1.27;
        
        @include r($sm) {
            margin-bottom: 25px;
            font-size: 18px;

        }

    }

    &__w {
        display: flex;

        @include r($sm) {
            // justify-content: center;
            margin-left: 15px;
            flex-wrap: wrap;

        }
    

    }


    &__list {
        // margin-right: 50px;
        max-width: 638px;
        display: flex;
        flex-wrap: wrap;
        flex-shrink: 1;
    }


    &__item {
        position: relative;
        margin-bottom: 28px;
        padding-left: 67px;
            
        max-width: 50%;
        
        flex-shrink: 1;
        flex-grow: 0;
        flex-basis: auto;
        
        @include r($sm) {
            margin-bottom: 40px;
            padding-left: 54px;
            max-width: 100%;
            

        }

        
        &:nth-child(1) {
            
            .hero__icon {
                width: (100px / 2);
                height: (100px / 2);
                
                @include r($sm) {
                    width: 40px;
                    height: 40px;

                }

            }

        }

        &:nth-child(2) {
            padding-left: 54px;
            
            @include r($sm) {
                margin-bottom: 26px;

            }

            .hero__icon {
                top: -4px;
                left: 4px;
                width: (76px / 2);
                height: (84px / 2);
                
                @include r($sm) {
                    top: 0;
                    left: 0;
                    width: 38px;
                    height: 42px;

                }


            }

            .hero__item-text {
                padding-right: 20px;
            }

        }
        
        &:nth-child(3) {
            
            .hero__icon {
                left: 5px;
                width: 46px;
                height: 50px;
                
                @include r($sm) {
                    left: 0;
                    width: 46px;
                    height: 50px;

                }

            }

            .hero__item-title {
                margin-top: 5px;
                
            }

            .hero__item-text {
                // padding-right: 20px;
            }

        }

        &:nth-child(4) {
            
            @include r($sm) {
                margin-bottom: 0;

            }

            .hero__icon {
                left: 4px;
                width: (84px / 2);
                height: (80px / 2);
                
                @include r($sm) {
                    left: 0;
                    width: 38px;
                    height: 40px;

                }
            }

            .hero__item-title {
                margin-top: 7px;
                margin-left: -6px;
                
                @include r($sm) {
                    margin-left: 0;

                }
                
            }

            .hero__item-text {
                margin-left: -7px;
                padding-right: 50px;
                
                @include r($sm) {
                    margin-left: 0;

                }
            }

        }

        
    }

    &__icon {
        position: absolute;
        top: 0;
        left: 0;
        
        img {
            object-fit: cover;
            max-width: 100%;
            height: auto;
        }
    }

    &__item-title {
        margin-bottom: 6px;
        font-size: 28px;
        font-weight: 700;
        line-height: 1;
        
        @include r($sm) {
            font-size: 22px;

        }
    }

    &__item-text {
        color: #636363;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.25;
    }

    &__form {
        margin-top: -11px;
        max-width: 280px;
        width: 100%;
        
        flex-shrink: 1;
        flex-grow: 0;
        
        @include r($sm) {
            margin-top: 33px;
            margin-right: -1px;
            margin-left: -14px;
            max-width: 300px;
            flex-grow: 1;

        }



    }

}
