.result
{
    background-image: linear-gradient(180deg, #1886c8 0%, #022235 100%);

    &__in
    {
        padding-top: 50px;
        padding-right: 100px;
        padding-bottom: 61px;
        padding-left: 100px;
        color: #fff;
        
        @include r($md) {
            padding-left: 20px;
            padding-right: 30px;
        }

        
        @include r($sm) {
            padding-top: 34px;
            padding-bottom: 31px;
            padding-right: 20px;
        }


    }

    &__title
    {
        font-size: 35px;
        font-weight: 700;
        line-height: 1.285;
        color: #fff;
        

        @include r($sm) {
            margin-bottom: 20px;
            font-size: 24px;
        }

    }

    &__text
    {
        margin-bottom: 23px;
        font-size: 22px;
        font-weight: 400;
        line-height: 1.272;


        color: #92dfff;

        @include r($sm) {
            font-size: 18px;
            line-height: 1.33;

        }
    }

    &__w
    {
        position: relative;

        padding-left: 199px;
        
        @include r($sm) {
            margin-left: -19px;
            
            padding-left: 0;

        }

    }


    &__image
    {
        position: absolute;
        top: 8px;
        left: 0;

        @include r($sm) {
            position: static;
            top: 0;
            margin-bottom: 30px;
            padding-top: 7px;
            text-align: center;
        }


        img
        {
            max-width: 100%;
            height: auto;
        }
    }

    &__subtitle {
        margin-bottom: 52px;
        font-family: Roboto;
        font-size: 43px;
        font-weight: 700;
        line-height: 1;

        @include r($sm) {

            margin-bottom: 33px;
            margin-left: 16px;
            padding-right: 42px;
            font-size: 31px;

        }


        span
        {
            font-size: 20px;
            font-weight: 400;
        }
    }


    &__list
    {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        
        @include r($sm) {

            margin-left: 16px;

        }

    }


    &__item
    {
        position: relative;
        margin-bottom: 15px;
        padding-left: 24px;

        flex-shrink: 0;
        flex-grow: 0;
        flex-basis: 260px;
        
        font-size: 24px;
        font-weight: 400;
        
        @include r($sm) {
            margin-bottom: 32px;
            padding-left: 26px;
            white-space: nowrap;

        }


        &:nth-child(1) {
            
            @include r($sm) {
                order: 1;
            }
            
        }


        &:nth-child(2) {
            
            @include r($sm) {
                order: 4;
            }

        }


        &:nth-child(3) {
            
            @include r($sm) {
                order: 2;

            }
            
        }

        &:nth-child(4) {
            
            @include r($sm) {
                order: 5;
            }
            
        }

        &:nth-child(5) {
            
            @include r($sm) {
                order: 3;
            }
            
        }
        
        &:after {
            position: absolute;
            top: 3px;
            left: 0;
            width: 16px;
            height: 16px;
            content: "";
            background: url('../images/general/checkbox-icon.svg') 0 0 no-repeat;
            background-size: cover;
        }
    }

    &__item-title {
        @include r($sm) {

            font-size: 20px;
        }
    }

    &__item-text {
        font-size: 14px;
    }
}
