.licenses {
    background-color: #f4faff;
    overflow: hidden;
    padding-bottom: 96px;
    
    @include r($md) {
        padding-bottom: (96px / 2);
    }

    &__in {
        padding-top: 33px;
        padding-bottom: 7px;
        
        @include r($sm) {
            padding-top: 34px;
            padding-bottom: 20px;
        }
        
    }

    &__title {
        margin-bottom: 20px;
        @include r($sm) {
            font-size: 24px;
        }


    }

    &__list {
        
    }

    &__item {
        // width: 182px;
        
        @include r($sm) {
            height: 260px;


        }
    }

    &__link {
        height: 100%;
        display: block;
        text-decoration: none;
        
        // @include r($sm) {
        //     margin: auto;
        //     width: 182px;
        // }
        
    }

    &__image {
        padding-left: 10px;
        padding-right: 10px;
        text-align: center;
        img {
            display: inline-block;
            max-width: 100%;
            height: auto;
        }   
    }



}